* {
    margin: 0px;
    padding: 0px;
    font-family: 'Readex Pro', sans-serif;
    color: white;
}

body {
    background-color: #000000;
    opacity: 1;
    background-image:  radial-gradient(#696969 2px, transparent 2px), radial-gradient(#696969 2px, #000000 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
}

/* Header */

header {
    display: flex;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding: 4em;
}

.title {
    font-family: 'Readex Pro', sans-serif;
    overflow-wrap: break-word;
    font-size: 4em;
}

.subtitle {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5rem;
    overflow-wrap: break-word;
}

/* Footer */

footer {
    text-align: center;
    padding: 4rem;
}
